/* hero */
#shop-hero{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) ),
     url("../images/shop1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14px;
}

#shop-hero h2, #shop-hero p{
    color: #fff;
}

/* pagination */
#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
   font-size: 16px;
   font-weight: 600;
}